<!DOCTYPE html>
<head>
    <style>
        body {
            background-color: lightgray;
        }

        h1 {
            font-family: Arial;
            text-align: center;
        }

        h3 {
            font-family: Arial;
            text-align: center;
        }

        p {
            font-family: Arial;
            text-align: center;
        }

        .headsup {
            margin: auto;
            text-align: center;
            width: 500px;
        }
    </style>
    <meta charset="utf-8" />
    <title>kima4 CS493 HW7</title>
</head>
<body>
    <h1>Something went wrong.</h1>
    <h3>For some reason, the JWT that you would have been issued is invalid. Not my fault.</h3>
    <div class="headsup">
        <p>Click the button below to return to the home page to try logging in again</p>
    </div>
    <div style="text-align: center;">
        <form action="/" method="GET">
            <input type="submit" value="Return" />
        </form>
    </div>
</body>
</html>