<!DOCTYPE html>
<head>
    <style>
        body {background-color: lightgray;}
        h1 {
            font-family: Arial;
            text-align: center;
        }
        h3 {
            font-family: Arial;
            text-align: center;
        }
        p {
            font-family: Arial;
            text-align: center;
        }
        .headsup {
            margin: auto;
            text-align: center;
            width: 500px;
        }
    </style>
    <meta charset="utf-8" />
    <title>kima4 CS493 HW7</title>
</head>
<body>
    <h1>CS493 Portfolio Project</h1>
    <h3>By kima4</h3>
    <div class="headsup">
        <p>Beep</p>
    </div>
    <div style="text-align: center;">
        <form action="/login" method="GET">
            <input type="submit" value="Log In/Create Account" />
        </form>
    </div>
</body>
</html>