doctype html
html(lang="en")
  head
    title= 'User Info'
  body
    h1 Hello!
    p This page is the User Info page. The JWT for use in the Authorization header is found below.
    li Your owner ID is #{owner_id}
    li Your JWT is #{jwt}